<div class="form-inputs">
  <%= f.input :cirurgias, input_html: { cols: "28" } %>
  <%= f.input :doencas_paternas, input_html: { cols: "28" }  %>
  <%= f.input :doencas_maternas, input_html: { cols: "28" }  %>
  <%= f.input :historico_peso, input_html: { cols: "28" }  %>
</div>
