$brand-green: #3dbb3c;
$brand-pink: #dd1456;
$brand-white: #fff;
$brand-primary: $brand-pink;
$brand-name-color: $brand-white;

$input-border-focus: $brand-green;

$btn-success-bg: $brand-green;

$panel-primary-text: $brand-pink;
$panel-primary-heading-bg: $brand-white;

$navbar-height: 80px;

$navbar-default-bg: $brand-pink;
$navbar-default-link-hover-bg: lighten($brand-green, 5%);
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;

$jumbotron-bg: #fafafa;
$jumbotron-padding: 18px;

@import "bootstrap";

.navbar-brand {
  overflow: visible;
  padding-top: 0px;
}
.nav .active {
  background-color: $brand-green;
  letter-spacing: 1.5px;
}
.jumbotron h1, h2 {
  color: $brand-pink;
}
.brand-name {
  padding-top: $navbar-padding-vertical;
  font-size: $font-size-h1;
  color: $brand-name-color;
  vertical-align: middle;
  letter-spacing: 8px;
}
.brand-name:hover,  .brand-name:focus{
  color: $brand-name-color;
  text-decoration: none;
}
.panel-heading {
  font-size: $font-size-large;
}