$brand-green: #3dbb3c;
$brand-pink: #dd1456;

$navbar-height: 80px;

$navbar-default-bg: $brand-pink;
$navbar-default-link-hover-bg: lighten($brand-green, 5%);
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;

@import "bootstrap";

.navbar-brand {
  overflow: visible;
  padding-top: 0px;
}
.nav .active {
  background-color: $brand-green;
  letter-spacing: 1.5px;
}
.jumbotron {
  background-color: #fafafa;
}
.jumbotron h1 {
  color: $brand-pink;
}